<div>
  <h2>Page 1 (Calculator is on page 2)</h2>
  <p>Enter your Name: <input type="text" ng-model="name"></p>
  <p>Hello <span ng-bind="name"></span>!</p>
</div>

<div ng-controller="globalController">
  <p>{{message}} <br/> {{type}} </p>

  <div ng-controller="firstController">
    <p>{{message}} <br/> {{type}} </p>
  </div>

  <div ng-controller="secondController">
    <p>{{message}} <br/> {{type}} </p>
  </div>

  <h3>Filter Subject</h3>
  <input type="text" ng-model="subjectName">
  <!-- <h3>List Subject</h3>
  <li ng-repeat="subject in listData.subjects | filter: subjectName | orderBy:'marks'">
    {{ subject.name + ', marks:' + subject.marks }}
  </li> -->

  <h3>List Area:</h3>
  <li ng-repeat="subject in listData.data | filter: subjectName | orderBy:'city'">
    {{ subject.city + ', ' + subject.area }}
  </li>

  <div ng-controller="CalcController">
      <p>Enter a number: <input type="number" ng-model="number" /></p>
      <button ng-click="square()">X<sup>2</sup></button>
      <p>Result: {{result}}</p>
  </div>

</div>
