<div>
  <h2>Page 2 </h2>
  <h1>Calculator</h1>
  <div ng-controller="CalcController">
      <p>Enter first number: <input type="number" ng-model="number" /></p>
      <p>Enter second number: <input type="number" ng-model="number1" /></p>
      <button ng-click="square()">X<sup>2</sup></button>
      <button ng-click="kali()">X</button>
      <button ng-click="bagi()">:</button>
      <button ng-click="tambah()">+</button>
      <button ng-click="kurang()">-</button>
      <p>Result: {{result}}</p>
  </div>

</div>
